.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  text-align: center;
}

/* Background Video */
.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.25;
  z-index: 0;
}

/* Dark Red Overlay */
.hero-overlay {
  position: absolute;
  width: 100%;
  height: 100%;

  z-index: 1;
}

/* Content */
.hero-content {
  position: relative;
  z-index: 2;
  max-width: 900px;
  padding: 0 20px;
}

.hero-content h1 {
  font-size: 60px;
  font-weight: bold;
  color: white;
  margin-bottom: 25px;
  line-height: 1.2;
}

.hero-content h1 span {
  color: red;
  text-shadow: 0 0 20px red;
}

.hero-content p {
  color: #ccc;
  font-size: 18px;
  margin-bottom: 40px;
  line-height: 1.6;
}

/* Buttons */
.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap;
}

.primary-btn {
  padding: 16px 40px;
  background: red;
  border: none;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
  box-shadow: 0 0 25px rgba(255, 0, 0, 0.6);
}

.primary-btn:hover {
  background: red;
  transform: translateY(-5px);
 box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

.secondary-btn {
  padding: 16px 40px;
  background: transparent;
  border: 2px solid red;
  color: red;
  font-weight: bold;
  cursor: pointer;
  border-radius: 6px;
  transition: 0.3s;
}

.secondary-btn:hover {
  background: red;
  color: white;
  transform: translateY(-5px);
  box-shadow: 0 0 10px rgba(255, 0, 0, 0.7);
}

/* Responsive */
@media (max-width: 900px) {
  .hero-content h1 {
    font-size: 36px;
  }

  .hero-content p {
    font-size: 15px;
  }
}
