body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: #0f172a;
  color: white;
}

.how-container {
  margin-top: 80px;
  padding: 80px 20px;
  text-align: center;
}

.how-header h1 {
  color: #00ffff;
  font-size: 32px;
}

.how-header p {
  color: #94a3b8;
  margin-bottom: 50px;
}

/* FLOW SECTION */

.flow-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-bottom: 80px;
}

.step-card {
  background: #1e293b;
  padding: 30px;
  width: 250px;
  border-radius: 15px;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
  transition: 0.4s ease;
}

.step-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 25px rgba(0, 255, 255, 0.5);
}

.step-circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #00ffff;
  color: black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  font-size: 20px;
  margin-bottom: 20px;
}

/* RISK SECTION */

.risk-section h2 {
  margin-bottom: 40px;
  color: #00ffff;
}

.risk-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
}

.risk {
  width: 200px;
}

.outer-ring {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.inner-circle {
  width: 140px;
  height: 140px;
  background: #111827;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Risk Colors */

.critical .outer-ring {
  border: 10px solid #ff3b3b;
}

.high .outer-ring {
  border: 10px solid #ff8800;
}

.medium .outer-ring {
  border: 10px solid #ffd000;
}

.low .outer-ring {
  border: 10px solid #00ff7f;
}

.risk p {
  margin-top: 15px;
  font-size: 14px;
  color: #cbd5e1;
}
/* ================= AI SECTION ================= */

.ai-section {
  margin-top: 100px;
}

.ai-section h2 {
  color: #00ffff;
  margin-bottom: 40px;
}

.ai-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.ai-box {
  background: #1e293b;
  padding: 30px;
  width: 280px;
  border-radius: 15px;
  transition: 0.4s ease;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.15);
}

.ai-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 30px rgba(0, 255, 255, 0.4);
}

/* ================= PROTECTION SECTION ================= */

.protection-section {
  margin-top: 120px;
  padding-bottom: 100px;
}

.protection-section h2 {
  color: #00ffff;
  margin-bottom: 40px;
}

.protection-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}

.protect-card {
  background: linear-gradient(135deg, #1e293b, #0f172a);
  padding: 30px;
  width: 280px;
  border-radius: 20px;
  transition: 0.4s ease;
  box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

.protect-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 0 35px rgba(0, 255, 255, 0.5);
}
